body{
    font-family: sans-serif;
    font-size: 1.5em;
}

button{
    font-size: 30px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
}

button:hover{
    background-color:rgb(201, 201, 201);
}
button:active{
    scale: 0.95;
}